<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Get inspired. Create your bucket list. Share.</h1>

      <%= form_tag(ideas_path, method: :get) do  %>
        <div class="input-inline">
          <label class="input-group__label" for="banner-search-input">Inspire me</label>
          <div class="input-row">
            <input id="banner-search-input" class="input-row__field" type="text" name="search" placeholder="e.g. Swimming with dolphins">
            <button class="btn btn--inline" type="submit">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="content-wrapper">
    <h2>Some ideas</h2>
    <ul class="bare-list float-grid css-grid">
      <% @ideas.each do |idea|  %>
        <%= render(partial: "idea_card", locals: {idea: idea})  %>
      <% end %>
    </ul>
  </div>
  <div class="see-more">
    <%= form_tag(ideas_path,  method: :get,  class: 'form') do  %>
      <%= button_tag("See more", class: 'btn')  %>
    <% end %>
  </div>
</main>
