<nav>
  <ul class="sub-navigation">
    <li><%= link_to "Atoms", styleguide_path  %></li>
    <li><%= link_to "Molecules", styles_molecules_path  %></li>
    <li><%= link_to "Organisms", styles_organisms_path  %></li>
    <li><a href="templates.html">Templates</a></li>
    <li><a href="#pages">Pages</a></li>
  </ul>
</nav>
