<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><%= link_to t('inspiration'), ideas_path  %></li>
    <li><%= link_to t('sign_up'), new_user_path  %></li>
    <li><%= link_to t('login'), new_session_path  %></li>
  </ul>
</nav>
