<%= form_tag(ideas_index_path, method: :get, class: 'form full')  do %>
  <div class="input-inline">
    <label class="input-group__label sr-only" for="global-search-input">Looking for inspiration?</label>
    <%= label_tag("global-search-input", "Looking for inspiration?", class: "input-group__label sr-only")  %>
    <div class="input-row">
      <%= text_field_tag( "q", "", id:  "global-search-input", placeholder: "e.g Swimming with the dolphins", class: "input-row__field") %>
      <%= button_tag("Search", class: "btn btn--inline btn--primary" )  %>
    </div>
  </div>
<% end %>
